---
import Section from "@/components/Section.astro";
import AstroIcon from "@/components/icons/tags/AstroIcon.astro";
import Tailwind from "@/components/icons/Tailwind.astro";
import ReactIcon from "@/components/icons/tags/ReactIcon.astro";
import Vue from "@/components/icons/tags/Vue.astro";
import Fire from "@/components/icons/tags/Fire.astro";
import Code from "@/components/icons/Code.astro";
import LinkedIn from "@/components/icons/LinkedIn.astro";
import GitHub from "@/components/icons/GitHub.astro";
import PDF from "@/components/icons/PDF.astro";
import { geti18n } from "@/i18n";
import { userLinks } from "../../../constants/userLinks.constants.js"

const { currentLocale } = Astro

const i18n = geti18n(currentLocale)

const menuKeys = Object.keys(i18n.menu)
---

<Section>
    <div class="md:flex md:justify-around bg-white dark:bg-[#101218]/80 p-5">
        <nav>
            <ul class="sm:flex md:block justify-center md:gap-3 my-4 mb-10 md:my-0">
                {
                    menuKeys.map(key=>(
                        <li>
                            <a 
                                class="py-2 px-4 rounded hover:text-orange-500 dark:hover:text-emerald-500"
                                href={'#'+key}
                            >{i18n.menu[key]}</a>
                        </li>
                    ))
                }
            </ul>
        </nav>
        <aside class="md:flex flex-col justify-center gap-4 w-fit items-center mx-auto md:mx-0">
            <ul class="flex gap-3 justify-center md:mb-0 mb-4">
                <li>
                    <a href={userLinks.linkedin} target="_blank" rel="noopener noreferrer"><LinkedIn class="size-6 md:size-8 hover:text-orange-500 dark:hover:text-emerald-400" /></a>
                </li>
                <li>
                    <a href={userLinks.github} target="_blank" rel="noopener noreferrer"><GitHub class="size-6 md:size-8 hover:text-orange-500 dark:hover:text-emerald-400" /></a>
                </li>
                <li>
                    <a href={userLinks.resume} target="_blank" rel="noopener noreferrer"><PDF class="size-6 md:size-8 hover:text-orange-500 dark:hover:text-emerald-400" /></a>
                </li>
            </ul>
            <p class="md:mb-0 mb-4">
                {i18n.copyright}
            </p>
            <a 
                href="https://github.com/d3vh4n5/portfolio-astro"
                class="flex gap-1 border-b border-current text-blue-500 
                w-fit mx-auto items-center bg-blue-400/30 rounded pt-1 
                px-2 shadow-md hover:bg-blue-300/30"
                target="_blank" rel="noopener noreferrer"
                >
                <Code />
                code
            </a>
        </aside>
        <div class="md:block flex justify-center gap-4 mt-3 md:mt-0">
                <AstroIcon class="size-6 md:size-8 bg-[#101218]/80 rounded py-1"/>
                <Tailwind class="size-6 md:size-8"/>
                <ReactIcon class="size-6 md:size-8"/>
                <Vue class="size-6 md:size-8 text-emerald-500"/>
                <Fire class="size-6 md:size-8 text-orange-500" />
        </div>
    </div>
</Section>