---
import Section from "@/components/Section.astro";
import Paragraph from "@/components/ui/Paragraph.astro";
import IDCard from "@/components/icons/IDCard.astro";
import { geti18n } from "@/i18n";
import { ABOUT } from "@/data/about.data";
import { ASCII } from "@/data/ascii.data";

const { currentLocale } = Astro

const i18n = geti18n(currentLocale)
const aboutContent = ABOUT[currentLocale]
---

<Section id="about" title={i18n.menu.about}>
    <IDCard class="size-6 md:size-8" slot="icon"/>
    <div class="">
        <pre class="text-[2px] sm:text-[4px] w-24 sm:w-[230px] lg:w-[200px] h-20 sm:h-[200px] lg:h-[250px] me-3 lg:me-10 
        leading-[2px] sm:leading-[4px] lg:leading-[5px] float-left overflow-hidden
            text-orange-500 dark:text-emerald-400
        ">
            {ASCII}
        </pre>
        <Paragraph>{aboutContent.first_paragraph}</Paragraph>
        <Paragraph>{aboutContent.second_paragraph}</Paragraph>
        <Paragraph>{aboutContent.third_paragraph}</Paragraph>
    </div>
    <div>
        <a href="/resources"> -> -> Mis recursos</a>
    </div>
</Section>
<style>
    pre{
        border-radius: 40%;
        shape-outside: ellipse(47% 60%);
    }
</style>