---

const { channel } = Astro.props;

---

<div class="p-4 rounded-lg bg-indigo-950/50">
    <header class="flex gap-3 font-bold items-center justify-between">
        <img src={channel.logo} alt="Channel Image" class="w-10 h-10 rounded-full">
        <h3>{channel.name}</h3>
        <div>
            <sup>{channel.mainContent}</sup> <sub>{channel.difficulty}</sub>
        </div>
    </header>
    <small>{channel.language}</small>
    <h6 class="text-gray-400 font-bold">{channel.content.join(' - ')}</h6>
    <p class="text-gray-500">{channel.description}</p>
    <a class="text-blue-400" href={channel.url}>{channel.channel}</a>
    <a class="text-blue-400" href={channel.page}>Page</a>
</div>