---
import Section from '@/components/Section.astro'
import SocialPill from './SocialPill.astro'
import GitHub from '@/components/icons/GitHub.astro'
import LinkedIn from '@/components/icons/LinkedIn.astro'
import PDFIcon from '@/components/icons/PDF.astro'
import MapLocationDot from '@/components/icons/MapLocationDot.astro'
import { geti18n } from '@/i18n/'
import { HERO } from '@/data/hero.data'
import { userLinks } from '@/constants/userLinks.constants'


const {currentLocale} = Astro
const i18n = geti18n(currentLocale)
const HERO_CONTENT = HERO[currentLocale]
---

<Section id="home">
    <div class="md:flex gap-20 pt-20" >
        <img 
            class="rounded-full bg-[#4169e14d] w-24 h-24  sm:w-[200px] sm:h-[200px] border-4 border-white dark:border-[#101218]/80 shadow-lg dark:shadow-none"
            src="/me.png" 
            alt="Juan Basgall photo"
        >
        <div class="flex flex-col justify-center">
            <h1 class="text-2xl sm:text-4xl font-bold">{ HERO_CONTENT.name }</h1>
            <h2 class="text-xl sm:text-2xl mt-2 font-semibold dark:text-emerald-400 text-orange-400">{ HERO_CONTENT.role }</h2>
            <div class="flex gap-2 text-gray-400 items-center mt-2">
                <MapLocationDot class="size-6"/>
                {HERO_CONTENT.from.city} - {HERO_CONTENT.from.province} - {HERO_CONTENT.from.country}
            </div>
            <span class="border border-current rounded w-fit px-5 my-4 text-green-700 dark:text-green-500 bg-green-400/20">
                { HERO_CONTENT.status }
            </span>
            <div class="flex gap-2">
                <SocialPill href={userLinks.linkedin}>
                    <LinkedIn class="size-4 md:size-5" />
                    LinkedIn
                </SocialPill>
                <SocialPill href={userLinks.github}>
                    <GitHub class="size-4 md:size-5" />
                    Github
                </SocialPill>
                <SocialPill href={userLinks.resume}>
                    <PDFIcon class="size-4 md:size-5" />
                    { i18n.ui.resume }
                </SocialPill>

            </div>
        </div>
    </div>
</Section>